/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
/tmp/storage/*
!/tmp/storage/.keep
/storage/*
!/storage/.keep
/vendor/bundle
/.env*
/config/master.key
/.kamal/secrets*
*.sqlite3
*.sqlite3-*
/coverage/
/node_modules/
